<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CoCoスモ - 不動産業務支援システム" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png?v=<%= Time.now.to_i %>" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png?v=<%= Time.now.to_i %>">

    <%# Tailwind CSS for Landing page %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%# Vite + React %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
  </head>

  <body style="margin: 0; padding: 0;">
    <%= yield %>
  </body>
</html>
